.App {
  display: flex;
  flex-wrap: wrap;
}

.selected {
  box-shadow: 2px 2px 3px black;
}

.movie {
  width: 25%;
  text-align: center;
}

.movie > img {
  width: 80%;
  border-radius: 8px;
}

.movie > p {
  padding: 20px;
  opacity: 0;
}

.movie:hover > p{
  opacity: 1;
}

.movie > h1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

